<h4 class="text-center">Welcome to Robot World!</h4>

<p><div class="row">
  <a class="col-md-2 col-md-offset-5 btn btn-success" href="/robots" role="button">Robots</a>
</div></p>

<p><div class="row">
  <a class="col-md-2 col-md-offset-5 btn btn-default" href="/robots/new" role="button">Create new robot</a>
</div></p>
