!!!
%html{:lang => "en"}
  %head
  %link{:rel => "stylesheet", :href=> "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.csshttps://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"}
  %link{:rel => "stylesheet", :href=> "css/custom.css"}
    %title Robot World!
  %body#background-image
    <!--<img id="background" src="http://static2.comicvine.com/uploads/original/11122/111224689/4884846-steampunk+city.jpg">--!>
    .container= yield
    %div
      %script{:src => "http://code.jquery.com/jquery-1.11.3.min.js"}
      %script{:src => "http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
      %script{:src => "js/bootstrap.js"}

